.messages {
    background-color: #f4f3f8;
    padding: 10px;
    height: calc(100% - 146px);
    overflow: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
    flex-grow: 1;
  }
  
  