body {
    margin: 0;
    padding: 0;
}

.login-page{
    background-color: rgb(243 244 246);
    background-size: cover;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
      
}

.login-container {

    flex-direction: column;
    display: flex;
    padding:20px 25px 40px 25px;
    background-color: white;
    border-radius: 10px;
    width: 350px;
    align-items: center;
    
}

.login-container .heading-1 {
    margin-top: 5px;
    font-size: 24px;
    color: black;
    font-weight: bold;
}


.login-container .heading-2 {
    margin-top: 12px;
    color: #888D93;

}



.login-container .input-field {
    display: flex;
    margin-top: 20px;
    padding: 9px;
    width: 300px;
    justify-content:center;
    align-items: center;


}

.input-field:hover {
    border: 2px solid darkblue;
}

.forgot-password {
    display: flex;
    color: #888D93;
    cursor: pointer;
    font-size: 14px;
    margin-top: 8px;
    justify-content: flex-end;
  }
  

.login-submit {
    border: none;
    cursor: pointer;
    width: 100%;
    padding: 11px;
    color: white;
    font-size: 14px;
    border-radius: 5px;
    background: black;
    margin-top: 20px;

  
}

.login-submit::placeholder {
    font-size: 30px;
}

.login-submit:hover {
    opacity: 0.8;
}


.register-cta {
    color: #888D93;
    position: relative;
    top: 19px;
    text-align: center;
    font-size: 16px;
}