body {
    margin: 0;
    padding: 0;
}

.login-page{
    background: url("../../img/bg.jpg");
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-container {

    flex-direction: column;
    display: flex;
    height: 70vh;
    background-color: white;
    padding: 20px 20px;
    border-radius: 10px;
    
}

.login-container .heading-1 {
    margin-top: 15px;
    font-size: 30px;
    color: black;
    font-weight: bold;

    @media only screen and (max-width: 768px) {
        font-size: 28px
    }
}


.login-container .heading-2 {
    margin-top: 12px;
    color: #888D93;

}



.login-container .input-field {
    display: flex;
    margin-top: 20px;
    padding: 9px;
    width: 350px;
    justify-content:center;
    align-items: center;


}

.input-field:hover {
    border: 2px solid darkblue;
}

.forgot-password {
    display: flex;
    color: #888D93;
    cursor: pointer;
    font-size: 14px;
    margin-top: 8px;
    justify-content: flex-end;
  }
  

.login-submit {
    border: none;
    cursor: pointer;
    width: 100%;
    padding: 11px;
    color: white;
    font-size: 14px;
    border-radius: 5px;
    background:  #5E6EE8;
    margin-top: 20px;
  
}

.login-submit::placeholder {
    font-size: 30px;

}

.login-submit:hover {
   
    background: #4A5ACF;
}


.register-cta {
    color: #888D93;;
    position: relative;
    top: 34px;
    text-align: center;
    font-size: 16px;

}