.messageMenu{
    position: absolute;

    width: 180px;
    top: 25px;
    border-radius: medium;
    background-color: white;
    z-index: 10;
 
}



.messageMenu ul{
    display: flex;
    flex-direction: column;
    padding-top: 8px;
    
}

.dropdown-menu{
    text-decoration: none;
    list-style: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 12px 20px;
    

}

.dropdown-menu:hover{
    background-color: aliceblue;
}